# Data files
data/
*.avi
*.mp4
*.pth
*.jpg
*.png
*.jpeg
*.jfif

# Model checkpoints (quá lớn, không nên push lên GitHub)
*.pth

# Logs
logs/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
